.necessary {
  background: #bcd1de;
  padding: 80px 0px;
  @media (max-width: $mobile) {
    padding: 50px 0px;
  }
  &__container {
    position: relative;
  }

  &__body {
    display: flex;
    align-items: center;
    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__left {
    flex: 0 1 46.5%;
    @media (max-width: $tablet) {
      flex: 0 1 55%;
    }
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 32px;
    @media (max-width: $mobile) {
      text-align: center;
      margin-bottom: 16px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
    @media (max-width: $mw) {
      padding-right: 15px;
    }
    @media (max-width: $mobile) {
      gap: 16px;
      margin-bottom: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__icon {
    img {
      width: 40px;
      height: 40px;
    }
  }

  &__description {
    font-size: 16px;
    color: $black;
    line-height: 115%;
    font-weight: 500;
    b {
      font-weight: 700;
    }
  }

  &__link {
    border-radius: 44px;
    background: #fcf4eb;
    border-radius: 44px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: $black;
    height: 56px;
    @media (max-width: $mobile) {
      width: 100%;
    }
    transition: all 0.3s;
    &:hover {
      background: #f4e6d6;
    }
    &:active {
      background: #f4e6d6;
      border: 4px solid #ebdccb;
    }
  }

  &__right {
    flex: 0 1 53.5%;
    @media (max-width: $tablet) {
      flex: 0 1 45%;
    }
  }

  &__column-big {
    display: flex;
    gap: 50px;
    @media (max-width: $tablet) {
      gap: 20px;
    }
    @media (max-width: $mobile) {
      gap: 0px;
    }
  }

  &__img {
    &_1 {
      padding-top: 116px;
      img {
        width: 100%;
        @media (max-width: 500px) {
          width: 105%;
        }
        @media (max-width: 415px) {
          width: 110%;
        }
      }
      @media (max-width: $mobile) {
        padding-top: 126px;
      }
      opacity: 0.0000000001;
      transition: all 0.6s;
      transition-delay: 0.1s;
      transform: scale(0.2);
      &._active {
        opacity: 1;
        transform: scale(1);
      }
    }

    &_2 {
      img {
        width: 100%;
      }
      opacity: 0.0000000001;
      transition: all 0.6s;
      transition-delay: 0.4s;
      transform: scale(0.2);
      &._active {
        opacity: 1;
        transform: scale(1);
      }
    }

    &_3 {
      opacity: 0.0000000001;
      transition: all 0.6s;
      transition-delay: 0.8s;
      transform: scale(0.2);
      &._active {
        opacity: 1;
        transform: scale(1);
      }
      padding-left: 162px;
      img {
        transform: translate(0, -30px);
        width: 37%;
      }
      @media (max-width: $mobile) {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
        padding-right: 45px;
        img {
          width: 48%;
        }
      }
    }
  }

  &__decor {
    position: absolute;
    &_1 {
      right: 40%;
      top: 0;
      @media (max-width: $tablet) {
        right: 35%;
      }
      @media (max-width: $mobile) {
        right: auto;
        top: auto;
        bottom: 0;
        left: 100px;
        img {
          width: 36px;
          height: 36px;
        }
      }
    }

    &_2 {
      right: 50%;
      bottom: 10%;
      @media (max-width: $mobile) {
        bottom: auto;
        right: 45px;
        top: 30px;
        img {
          width: 17px;
          height: 26px;
        }
      }
    }
    &_3 {
      right: 40px;
      bottom: 40px;
      img {
        width: 40px;
        height: 57px;
      }
      @media (max-width: $mobile) {
        bottom: 44%;
        right: auto;
        left: 22px;
        img {
          width: 28px;
          height: 39px;
        }
      }
    }
  }
}

// .necessary__column-small {
//   @media (max-width: $mobile) {
//     display: flex;
//     justify-content: flex-end;
//   }
// }
