.personal {
  background-color: $white;
  padding: 80px 0px;
  @media (max-width: $mobile) {
    padding: 50px 0px;
  }
  &__container {
    position: relative;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    //  position: relative;
    @media (max-width: $tablet) {
      display: block;
    }
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__left {
    flex: 0 1 58%;
    @media (max-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &__suptitle {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #ae6b57;
    font-family: $mon-alt;
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 32px;
    text-align: left;
    @media (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
    padding-right: 87px;
    @media (max-width: $mw) {
      padding-right: 30px;
    }
    @media (max-width: $tablet) {
      padding: 0;
      margin-bottom: 24px;
    }
  }

  &__item {
    display: flex;
    gap: 10px;
    align-items: center;
    p {
      font-weight: 500;
      font-size: 16px;
      color: $black;
      line-height: 120%;
    }
    @media (max-width: $mobile) {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__links {
    display: flex;
    gap: 16px;
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__link {
    border-radius: 44px;
    width: 280px;
    height: 56px;
    background: #fdad95;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $mobile) {
      width: 100%;
    }
    transition: all 0.3s;
    &:hover {
      background: #f29a7f;
    }
    &:active {
      background: #f29a7f;
      border: 4px solid #febeaa;
    }
  }

  &__right {
    flex: 0 1 42%;
    position: relative;
    @media (max-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    @media (max-width: $tablet) {
      width: 70%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }

  &__label {
    border-radius: 100px;
    padding: 12px 24px 12px 12px;
    width: 366px;
    height: 84px;
    box-shadow: 0 4px 20px 0 rgba(186, 193, 209, 0.25);
    background: #fff;
    position: absolute;
    top: 50%;
    left: -60px;
    display: flex;
    gap: 16px;
    @media (max-width: $tablet) {
      left: 5%;
    }
    @media (max-width: $mobile) {
      padding: 12px 24px 12px 12px;
      width: 303px;
      height: 71px;
      gap: 8px;
      top: 55%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__label-icon {
    flex: 0 0 60px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdad95;
    width: 60px;
    height: 60px;
    @media (max-width: $mobile) {
      font-size: 12px;
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
      img {
        width: 30px;
      }
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: $black;
    @media (max-width: $mobile) {
      font-size: 12px;
    }
  }

  &__block {
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: auto;
    }
  }

  &__slide {
    //  background: #f4e6d6;
    opacity: 0.5;
    transition: opacity 0.2s;
    cursor: pointer;
    &.swiper-slide-active {
      cursor: auto;
      opacity: 1;
    }
    &.swiper-slide-next {
      cursor: auto;
      opacity: 1;
    }
    &.swiper-slide-next-next {
      cursor: auto;
      opacity: 1;
    }
    &.swiper-slide-next-next-next {
      cursor: auto;
      opacity: 1;
    }
    img {
      width: 100%;
      border-radius: 30px;
      @media (max-width: $tablet) {
        width: 272px;
        height: 299px;
      }
    }
  }

  &__slider {
    h3 {
      font-weight: 500;
      font-size: 16px;
      color: $black;
      margin-bottom: 24px;
    }
  }

  &__decor {
    position: absolute;
    &_1 {
      top: -40px;
      left: -40px;
      @media (max-width: $mw) {
        display: none;
      }
    }

    &_2 {
      right: 38%;
      top: 5%;
      @media (max-width: $mw) {
        top: 0;
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }

    &_3 {
      top: -5px;
      right: -45px;
      @media (max-width: $mw) {
        display: none;
      }
    }

    &_4 {
      bottom: 38%;
      left: 47%;
      @media (max-width: $mw) {
        bottom: 34%;
      }
      @media (max-width: $mobile) {
        bottom: 55%;
        left: 9%;
        img {
          width: 38px;
          height: 40px;
        }
      }
    }

    &_5 {
      bottom: 40%;
      right: 11px;
      img {
        width: 28px;
        height: 41px;
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
}

.swiper-block {
}
.swiper-wrapper {
}
.swiper-slide {
}

.irina {
}
.anastacia {
  background: #c8d2b9;
  .personal__items {
    padding: 0;
  }
  .personal__body {
    gap: 140px;
    @media (max-width: $mw) {
      gap: 40px;
    }
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
      gap: 0;
    }
  }
  .personal__suptitle {
    color: #7a826d;
  }
  .personal__label-icon {
    background: #a5b292;
  }
  .personal__label {
    left: 37%;
    top: 54%;
    width: 324px;
    height: 84px;
    @media (max-width: $mw) {
      left: 17%;
    }
    @media (max-width: $tablet) {
      width: 303px;
      height: 78px;
      display: flex;
      align-items: center;
      left: 30%;
    }
    @media (max-width: $mobile) {
      left: 50%;
    }
  }
  .personal__link {
    background: #fcf4eb;
    color: $black;
    gap: 10px;
    &:hover {
      background: #f4e6d6;
    }
    &:active {
      background: #f4e6d6;
      border: 4px solid #ebdccb;
    }
  }

  .personal__decor_2 {
    right: 59%;
    top: 5%;
    @media (max-width: $mw) {
      display: none;
    }
  }

  .personal__decor_4 {
    @media (max-width: $tablet) {
      display: none;
    }
  }
  .personal__decor_6 {
    bottom: 47%;
    left: -3%;
    @media (max-width: $mobile) {
      bottom: 56%;
      left: 10%;
    }
  }
  .personal__decor_5 {
    bottom: 42%;
    right: 66px;
    @media (max-width: $mw) {
      display: none;
    }
  }
}
