.program {
  padding: 10px 0;
  background: #fdad95;
  max-width: 100%;
  height: 500vh;
  //   overflow: hidden;
  //   width: 100dvw;
  position: relative;
  @media (max-height: 650px) {
    padding: 50px 0;
  }
  @media (max-height: 550px) {
    padding: 80px 0;
  }
  @media (max-width: $tablet) {
    height: auto;
    padding: 50px 0;
  }
  &.red {
    background: #fdad95;
    .program__trigger {
      background: #f29a7f;
      &.active {
        .program__num {
          background: #fdad95;
        }
      }
    }
  }
  &.green {
    background: #c8d2b9;
    svg {
      path {
        fill: #a5b292;
      }
    }
    .program__trigger {
      background: #b7c2a5;
      &.active {
        .program__num {
          background: #c8d2b9;
        }
      }
    }
  }
  &.blue {
    svg {
      path {
        fill: #9dbed4;
      }
    }
    background: #bcd1de;
    .program__trigger {
      background: #9dbed4;
      &.active {
        .program__num {
          background: #bcd1de;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    background: #fdad95 !important;
  }
  &__container {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    @media (max-width: $tablet) {
      height: auto;
    }
  }

  &__wrapper {
    position: relative;
    @media (max-height: 650px) {
      overflow: hidden;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 40px;
  }

  &__body {
    display: flex;
    gap: 24px;
    align-items: stretch;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__triggers {
    flex: 0 0 290px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__trigger {
    padding: 23px;
    background: #f29a7f;
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 24px;
    p {
      font-weight: 600;
      font-size: 16px;
      color: #fbefe1;
    }
    &.active {
      background: #fbefe1 !important;
      color: $black !important;
      p {
        color: $black !important;
      }
      .program__num {
        color: $black !important;
      }
    }
  }

  &__num {
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbefe1;
    border-radius: 50%;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }

  &__articles {
    flex: 1 1 auto;
  }

  &__article {
    background: #fbefe1;
    border-radius: 24px;
    padding: 16px 24px;
    display: none;
    height: 100%;
    &.active {
      display: block;
    }
    @media (max-width: $tablet) {
      padding: 24px 12px;
    }
    @media (max-width: $tablet) {
      display: block !important;
    }
  }

  &__decor {
    position: absolute;
    &_1 {
      left: 0;
      top: 0;
    }
    &_2 {
      right: -25px;
      bottom: 0;
      @media (max-width: 1300px) {
        display: none;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    margin-bottom: 24px;
    b {
      font-weight: 600;
    }
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 8px;
      p {
        font-size: 14px;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    row-gap: 12px;
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &__item {
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }
    &:nth-child(5) {
      grid-column: 2;
      grid-row: 1;
    }
    &:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }
    &:nth-child(6) {
      grid-column: 2;
      grid-row: 2;
    }
    &:nth-child(3) {
      grid-column: 1;
      grid-row: 3;
    }
    &:nth-child(7) {
      grid-column: 2;
      grid-row: 3;
    }
    &:nth-child(4) {
      grid-column: 1;
      grid-row: 4;
    }
    &:nth-child(8) {
      grid-column: 2;
      grid-row: 4;
    }

    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__img {
    // margin-bottom: 8px;
    flex: 0 0 70px;
    img {
      border-radius: 16px;
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
  }
}

.mobile-program {
  display: none;
  @media (max-width: $tablet) {
    display: block;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    background: #fbefe1;
    border-radius: 24px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      align-items: center;
      gap: 8px;
      p {
        font-weight: 600;
        font-size: 16px;
      }
    }
    svg {
      transition: all 0.3s;
    }
    &.active {
      svg {
        transform: rotate(90deg);
        transition: all 0.3s;
        path {
          fill: $black;
          stroke: $black;
        }
      }
    }
  }
  .program__num {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdad95;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s;
    &.active {
      margin-top: 8px;
    }
  }
}
