.subscription {
  padding: 60px 0px 80px;
  background: #fbefe1;
  @media (max-width: $mobile) {
    padding: 50px 0px;
  }
  &__container {
  }

  &__title {
    margin-bottom: 60px;
    @media (max-width: $mobile) {
      margin-bottom: 40px;
    }
  }

  &__body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    @media (max-width: $mobile) {
      gap: 40px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background: #bcd1de;
    padding: 24px 32px;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;

    &:nth-of-type(2) {
      background-color: #c8d2b9;
    }
    &:nth-of-type(3) {
      background-color: #fdad95;
    }
    @media (max-width: $mobile) {
      padding: 16px;
    }
    &.orange {
      background-color: #fdad95;
    }
    &.orange {
      background-color: #fdad95;
    }
    &.green {
      background-color: #c8d2b9;
    }
    &.blue {
      background-color: #bcd1de;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 34px;
    color: $black;
    margin-bottom: 24px;
    max-width: 230px;
    @media (max-width: $tablet) {
      max-width: 100%;
    }
    @media (max-width: $mobile) {
      max-width: 130px;
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__label {
    position: absolute;
    top: -30px;
    right: -30px;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 600;
      font-size: 18px;
      line-height: 111%;
      text-align: center;
      color: #fbefe1;
    }

    @media (max-width: $mw) {
      right: -10px;
    }
    @media (max-width: $tablet) {
      right: 30px;
      top: -51px;
    }
    @media (max-width: $mobile) {
      right: -10px;
      top: -30px;
      p {
        font-size: 17px;
      }
      img {
        width: 85px;
      }
    }
  }

  &__tablet-elements {
    flex: 1 1 auto;
    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      display: block;
    }
  }

  &__prices {
    @media (max-width: $tablet) {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
    }
    @media (max-width: $mobile) {
      flex-direction: column;
      margin-bottom: 12px;
    }
  }

  &__elements {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
    flex: 1 1 auto;
    h5 {
      font-weight: 600;
      font-size: 14px;
      color: #484343;
    }
    @media (max-width: $mobile) {
      margin-bottom: 16px;
    }
  }

  &__element {
    display: flex;
    gap: 12px;
    align-items: center;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      color: $black;
    }
  }

  &__row {
    margin-bottom: 24px;
    position: relative;
    @media (max-width: $mobile) {
      margin-bottom: 16px;
    }
  }

  &__circle-left {
    position: absolute;
    left: -65px;
    top: 50%;
    transform: translate(0, -50%);
  }
  &__circle-right {
    position: absolute;
    right: -65px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__group {
    img {
      width: 100%;
    }
  }

  &__bottom {
    text-align: center;
  }

  &__oldprice {
    opacity: 0.5;
    font-size: 16px;
    text-align: center;
    color: #605c5c;
    font-weight: 600;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    &::before {
      content: '';
      position: absolute;
      background-color: #605c5c;
      z-index: 2;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
    @media (max-width: $tablet) {
      margin: inherit;
      margin-bottom: 0;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: $black;
    margin-bottom: 24px;
    line-height: 110%;
    @media (max-width: $tablet) {
      margin-bottom: 0;
    }
    @media (max-width: $mobile) {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__button {
    height: 56px;
    border-radius: 44px;
    width: 100%;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin-bottom: 24px;
    transition: all 0.3s;
    &:hover {
      background: #605c5c;
    }
    &:active {
      background: #605c5c;
      border: 4px solid #7c7676;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    color: $black;
    transition: all 0.3s;
    &:hover {
      color: #fdad95;
    }
  }
}

.subscription__item-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  width: calc(33% - 23px);
  height: 100%;
  transition: all 0.5s;
  transition-delay: 0.5s;
  @media (max-width: $tablet) {
    position: static;
    transform: translate(0, 0);
    width: auto;
    z-index: 1;
  }
}

.subscription__item-2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) rotate(-8deg);
  z-index: 2;
  width: calc(33% - 23px);
  height: 100%;
  transition: all 0.5s;
  transition-delay: 0.5s;
  @media (max-width: $tablet) {
    position: static;
    transform: translate(0, 0) !important;
    width: auto;
    z-index: 1;
  }
}
.subscription__item-3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) rotate(5deg);
  z-index: 1;
  width: calc(33% - 23px);
  height: 100%;
  transition: all 0.5s;
  transition-delay: 0.5s;
  @media (max-width: $tablet) {
    position: static;
    transform: translate(0, 0);
    width: auto;
    z-index: 1;
  }
}

.subscription__body {
  // height: 592px;

  &._active {
    .subscription__item-1 {
      left: 0;
      transform: translate(0%, 0);
    }
    .subscription__item-2 {
      transform: translate(-50%, 0) rotate(0deg);
    }
    .subscription__item-3 {
      transform: translate(0%, 0) rotate(0deg);
      left: 69%;
      // right: 0;
    }
  }
}

.subscription__item-4 {
  @media (max-width: $tablet) {
    display: none;
  }
}
